/* static/styles.css */

/* Version 1.0 May 2025, Author: Aram Simonyan  */

body.logged-in {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(215, 218, 223);
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 25% 1fr;
    /* height: 100vh; with this line included the side bar and the page heading will not be scrolling*/
}

body.not-logged-in {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(215, 218, 223);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    grid-column: span 2;
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    background-color: #f4e110;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar form {
    gap: 5px;
    display: flex;
    justify-content: flex-start; /* Moves elements to the left */
    align-items: center; /* Vertically centers elements */
    width: 100%;
}

.sidebar button:hover {
    color: red;
}

.createANDfetch {
    padding: 15px;
    overflow-y: auto;
}

.not-logged-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.please-log-in {
    padding-top: 15px;
    align-content: center; /* Vertically centers elements */
    text-align: center; /* Centers text */
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    letter-spacing: 3px;
}

h2 {
    text-align: center;
    margin-top: 40px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

h3 {
    text-align: center;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.auth-forms {
    display: flex;
    justify-content: center; /* Centers forms */
    gap: 50px; /* Adds space between login and register forms */
    padding-top: 30px;
    padding-bottom: 50px;
}

.Login-Register{
    text-align: center;
}

.login-form, .register-form {
    display: inline-block;
    width: 300px; 
}

.post-title-cat-content input {
    width: 350px;
    margin-bottom: 10px;
    line-height: 36px;
    border-radius: 12px;
    border: none;
    color: black;
}

.auth-forms input {
    width: 300px;
    margin-bottom: 10px;
    line-height: 36px;
    border-radius: 12px;
    border: none;
    color: black;
    font-size: 10px;
    letter-spacing: 3px;
}

label {
    color: rgba(38, 37, 37, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}

button {
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.login-form button, .register-form button {
    background-color: rgb(45, 126, 231);
    width: 40%; 
    height: 40px;
    border-radius: 12px;
    border: none;
}

a:link {
    color: black;
    text-decoration: none; /* Remove underlining */
}

a:visited {
    color: black;
    text-decoration: none; /* Remove underlining */
}

a:active {
    color: black;
    text-decoration: none; /* Remove underlining */
}

.logout {
    display: flex;
    justify-content: flex-end;  
    width: 100px;
}

.logout button {
    margin-left: 10px;
    background-color: rgb(4, 0, 255);
    color: white;
    width: 80px; 
    height: 40px;
    border-radius: 12px;
    border: none;
}

.logout button:hover {
    color: #000000;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between buttons */
}

.button-container button {
    width: 85px;
}

select {
    font-size: 14px;
}

.sidebar select {
    height: 30px;
}

#avalable-categories {
    display: grid;
    grid-template-columns: 200px 50px;
    justify-items: center;
    align-items: center;
}

#charts-container {
    padding-top: 8px;
    display: grid;
    grid-template-columns: 65px 50px 55px;
    justify-items: center;
    align-items: center;
}

.create-post {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.create-post {
    margin-top: 10px;
    color: #555555;
    width: 75px;
    margin-bottom: 20px;   
}

button.create-post:hover {
    color: #000000;
}

.post-title-cat-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixed-content {
    font-weight: bold;
}

.posts-container {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.post {
    flex: 0 0 calc(23.333% - 20px);
    padding: 10px;
    border: 1px solid #a7a6a6;
    margin-bottom: 5px;
    margin-top: 10px;
}

.post:hover {
    background-color: rgba(180, 177, 177, 0.3); /* Slightly different shade */
}

.post-rating-container{
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    justify-content: start;
    gap: 16px;
}

.post-rating-form {
    width: auto;
    display: flex;
    align-items: center; /* Ensures button and count align in the same row */
    gap: 4px; /* Adds space between button and count */
    margin: 0;
    padding: 0;
    border: none;
}

.post-rating:not(:last-child) {
    margin-right: 6px;
}

.post-rating-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #555555;
}

.post-rating-count {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-rating-button:hover {
    color: #000000;
}

#commentDetails {
    margin-top: 50px;
    margin-left: 100px;
}

#commentContent {
    align-items: center;
}

.comm-interactions-area {
    width: 20%;
    display: grid;
    grid-template-columns: 70px 300px;
    justify-items: normal;
    align-items: center;
}

.interaction-button {
    padding: 4px;
}

form[action^="/add-comment"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.comm-interaction-button {
background-color: rgb(243, 137, 55);
color: white;
padding: 8px;
border: none;
width: 55px;
cursor: pointer;
}

textarea {
    font-family: Arial, Helvetica, sans-serif !important;
    margin-top: 10px;
    width: 350px;
}

button.add-comment {
    background-color: rgb(249, 149, 72);
    border: none;
    width: 55px;
    cursor: pointer;
    color: white;
}

button.add-comment:hover {
    color: #000000;
}