/* static/styles.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(215, 218, 223);
    margin: 20px;
}

h1{
    text-align: center;
    margin-top: 40px;
}

.please-log-in {
    text-align: center;
    margin-top: 40px;
}

h2 {
    text-align: center;
    margin-top: 40px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

/* styles for the auth forms */
.auth-forms {
    display: flex;
    justify-content: center;
}

.Login-Register{
    text-align: center;
}

.login-form, .register-form {
    /* Add styles... */
    display: inline-block;
    width: 40%; 
}

form {
    width: 350px;
    margin: 0 auto;
}

input {
    width: 350px;
    margin-bottom: 10px;
    line-height: 36px;
    border-radius: 12px;
    border: none;
}

label {
    color: rgba(38, 37, 37, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}

button {
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

.login-form button, .register-form button {
    background-color: rgb(45, 126, 231);
    width: 40%; 
    height: 40px;
    border-radius: 12px;
    border: none;
}

a:link {
    color: black;
    text-decoration: none; /* Remove underlining */
}

a:visited {
    color: black;
    text-decoration: none; /* Remove underlining */
}

a:active {
    color: black;
    text-decoration: none; /* Remove underlining */
}

.logout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    width: 100px;
}

.logout button{
    margin-left: 10px;
    background-color: rgb(4, 0, 255);
    width: 80px; 
    height: 40px;
    border-radius: 12px;
    border: none;
}

#avalable-categories {
    display: grid;
    grid-template-columns: 200px 50px;
    justify-items: center;
    align-items: center;
}

.create-post {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fixed-content {
    font-weight: bold;
}

.posts-container {
    display: flex;
    flex-flow: column;
}

/* the style for posts */
.post {
    flex: 0 0 calc(23.333% - 20px);
    padding: 10px;
    border: 1px solid #a7a6a6;
    margin-bottom: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

/* the hover effect */
.post:hover {
    background-color: #f0f0f0;
}

.post-rating-container{
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    justify-content: start;
    gap: 16px;
}

.post-rating {
    display: flex;
    align-items: center;
    gap: 4spx;
}

.post-rating-form {
    width: auto;
    display: flex;
    align-items: center; /* Ensures button and count align in the same row */
    gap: 4px; /* Adds space between button and count */
    margin: 0;
    padding: 0;
    border: none;
}

.post-rating:not(:last-child) {
    margin-right: 6px;
}

.post-rating-button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #555555;
}

.post-rating-count {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-rating-selcted > .post-rating-button,
.post-rating-selcted > .post-rating-count {
    color: #009578;
}

.post-rating:not(.post-rating-selcted) > .post-rating-button:hover {
    color: #000000;
}

#commentDetails {
    margin-top: 50px;
    margin-left: 100px;

}

.comm-interactions-area {
    width: 20%;
    display: grid;
    grid-template-columns: 70px 300px;
    justify-items: normal;
    align-items: center;
}

.interaction-button {
    padding: 4px;
}

.comm-interaction-button {
background-color: rgb(243, 137, 55);
color: white;
padding: 8px;
border: none;
width: 55px;
cursor: pointer;
}

textarea {
    margin-top: 10px;
    width: 350px;
}


button.add-comment {
    background-color: rgb(243, 137, 55);
    color: white;
    padding: 8px;
    border: none;
    width: 105px;
    cursor: pointer;
}